<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array object Carousel</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <div id="app">
    
        <div class="container">

            <div class="row">

                <div class="col">
                    <div class="card">
                        
                        <img :class="index === activeImage ? 'active' : '' " :src="image" alt="games_image" v-for="(image, index) in games.images" @click="changeImage(index)">
                        
                            <h3 :class="index === activeTitle ? 'active' : '' " v-for="(title, index) in games.titles" @click="activeTitle(index)">
                              
                            </h3>
                            <p :class="index === activeText ? 'active' : '' " v-for="(text, index) in games.texts" @click="activeText(index)">
                               
                            </p>
                        
                        
                    </div>
                </div>
                <div id="buttons">

                    <button @click="prev">Prev</button>
                    <button @click="next">Next</button>

                </div>
               
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>